@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 200px;
}

.section{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.section-components{
  max-width: 900px;
  display: flex;
  text-align: left;
  
}

.column-1,
.column-2,
.column-3{
  padding: 30px 40px;
} 

.column-1{
  background-color:  hsl(31, 77%, 52%);
  border-radius: 6px 0 0 6px;
}
.column-2{
  background-color:  hsl(184, 100%, 22%);
}
.column-3{
  background-color: hsl(179, 100%, 13%);
   border-radius: 0 6px 6px 0;
}

/* fdfdfd */
.column-img{
  margin-bottom: 40px;
}

h1{
  font-size: 32px;
  font-weight: 400;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  margin-bottom: 18px;
}

p{
  font-size: 16px;
  letter-spacing: 1px;
  /* padding-left: 20px; */
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 70px;
}

.btn{
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 15px 45px;
  background-color: hsl(0, 0%, 95%);
}

.btn:hover{
  box-shadow: inset 0 0 0 2px hsl(0, 0%, 95%);
  /* border:  2px solid hsl(0, 0%, 95%); */
  color: hsl(0, 0%, 95%);
}

.btn-1{
  color: hsl(31, 77%, 52%);
}

.btn-2{
  color: hsl(184, 100%, 22%);
}

.btn-3{
  color: hsl(179, 100%, 13%);
}

.btn-1:hover{
  background-color: hsl(31, 77%, 52%);
}
.btn-2:hover{
  background-color: hsl(184, 100%, 22%);
}
.btn-3:hover{
  background-color: hsl(179, 100%, 13%);
}

.section-components{
  max-width: 900px;
  display: flex;
  text-align: left;
}

@media only screen and (max-width: 600px){

  body{
    padding-top: 80px;
  }
  .section-components{
    max-width: 375px;
    display: block;
    text-align: left;
  }
  .column-1,
  .column-2,
  .column-3{
    width: 280px;
  }

  .column-1{
    border-radius: 6px 6px 0 0;
  }
  
  .column-3{
    border-radius: 0 0 6px 6px;
  }
  p{
     margin-bottom: 30px;
  }

  .btn{
    padding: 15px 25px;
  }


}